<h1>Listing cmas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cmas.each do |cma| %>
      <tr>
        <td><%= cma.name %></td>
        <td><%= link_to 'Show', cma %></td>
        <td><%= link_to 'Edit', edit_cma_path(cma) %></td>
        <td><%= link_to 'Destroy', cma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cma', new_cma_path %>
